body {
background-repeat: repeat-x;
background-color: #A4A4A4;
font-family: Verdana, Arial, "Century Gothic";
font-size: 12px;
color: #878787;
padding-top:10px;
padding-bottom:50px;
}

#container {
position:relative;
padding-top:15px;
margin-left:15px;
width: 1250px;
height:1400px;
-moz-box-shadow: 10px 10px 5px #888888; /* Firefox 3.6 and earlier */
-webkit-box-shadow: 10px 10px 5px #888888; /* Safari */
box-shadow: 10px 10px 5px #888888;

}



#follow
{
text-align:top;
float:left;
color:#009900;
padding-left:210px;
font-size:18px;
font-style: italic;
}

ul#list-nav {
list-style:none;
margin:20px;
padding:0;
width:1200px;
border-radius-left:13px;
}

ul#list-nav li {
display:inline
}
#blank
{
padding-left:200px;
padding-top:8px;
padding-bottom:8px;
padding-right:8px;
background:#009900;
color:#eee;
float:left;
font-size:15px;
}
ul#list-nav li a {
text-decoration:none;
padding:8px 0;
width:140px;
background:#009900;
color:#eee;
float:left;
font-size:16px;
text-align:center;

}

ul#list-nav li a:hover {
background:#a2b3a1;
color:#000
}


/*header.html molecule image*/

#molecule a{
	text-decoration: none;
	font-size: 30px;
	padding-left:200px;

}

div #molecule a:hover 
 {	
 	color: green;
 } 



/*header_1.html content*/

.gamess{
	color:#878787;
	text-align: center;
	font-weight: bold;
}

.gamess td{
	padding-top:4px;
	padding-left:20px;
	font-size: 14px;
}

.go-to-next-step{
	height:30px;
	width:160px;
	font-size:18px;
	font-weight: 300;
}




/*water.html : simulator and other content*/

#simulator-stuff{
	float:left;
}

#simulator{
	width: 450px;
	height: 450px;
	background-color: #000000;
}

select{
	width:40px;
	height:24px;
	font-size:17px;
	font-weight: 400;
}

.render-button{
	width:80px;
	height:30px;
	font-size: 17px;
	font-weight: 400;
}


#content
{
padding-left:18px;
font-size: 15px;
}
#form
{
border:0;
background-color:#CCCCCC;
color:#FFFFFF;
height:25px;
width:380px;
font-size:15px;
}
#submit
{
height:29px;
width:50px;
background-color:#FFFFFF;
color:#007B00;
font-size:21px;
border:0
}

#content-search label
{
color:#007B00;
font-size:18px;
padding-bottom:20px;
}
#content-search span
{
font-size:15px;
padding-left:7px;
}
#join
{
background-image: url(images/ma-join.jpeg);
width:414px;
height:84px;
padding-top:10px;
padding-left:16px;

}

#recent
{
color:#007B00;
font-size:20px;
font-weight:bold;
}

#footer
{
padding-left:10px;
padding-top:6px;
margin-left:3px;
background-image: url(images/ma-footer.jpg);
width:1050px;
height:27px;
}

#footer a
{

font-size:14px;
text-decoration:none;
color:#009900;

}

#certify 
{
font-style:italic;
text-decoration:none;
padding-left:620px;
padding-top:10px;
padding-bottom:10px;


}

















